body {
    font-size: 16px;
    color: #fff;
    background-color: lightblue;
    font-family: 'Oxygen',helvetica, sans-serif;
}

#header-nav {
    border-radius: 0;
    background-color: #696969;
    border: 0;
}